* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #273c75;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.box {
    max-width: 400px;
    margin: 0 auto;
}

.row {
    margin: 0 auto;
    padding: 5px 0px;
    width: 90%;
}

input[type="text"], input[type="number"], [type="password"], input[type="tel"] {
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 2px;
    width: 100%;
    margin: auto;
    display: block;
    padding: 10px;
    transition:background-color 0.5s ease;
}

input[type=text]:focus, input[type=password]:focus, [type="password"]:focus, input[type="tel"]:focus, input[type="number"]:focus {
    background-color: #CCC;
    outline: none;
}

textarea {
    width: 100%;
}

.dropdown {
    border: none;
    border-radius: 2px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    transition:background-color 0.5s ease;
}

.row input[type="submit"] {
    border: none;
    border-radius: 10px;
    width: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    margin: auto;
    display: block;
    padding: 10px;
    background-color: #ffc002;
    transition:background-color 0.5s ease;
}

.row input[type="submit"]:hover {
    border: none;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    display: block;
    padding: 10px;
    background-color: #dfa700;
    transition:background-color 0.5s ease;
}

.line:after {
    padding: 0;
    content: "";
    display: block;
    margin: 0 auto; 
    padding-top: 20px;
    border-bottom: 3px solid white; 
}